.new-provider-view {
  // input[type=text], input[type=email] {
  //   padding-left: 0;
  // }
  .item-error {
    border-color: $error-red;
  }
  .item-stacked-label {
    // margin-top: 2rem;
    padding-bottom: 0;
  }
  span.input-label {
    // font-size: 1.2em;
    font-family: Montserrat-Regular;
    text-transform: uppercase;
  }
  .form-legend {
    border-bottom: none;
    .input-label {
      // font-size: 1.2em;
      font-family: Montserrat-Regular;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}
