ion-view(
  view-title="Login",
  hide-nav-bar="true"
)
  ion-content.login-form
    .row
      .moviggo-logo-1
    .list.list-inset
      .button.facebook-login(ng-click="preVm.loginWithFB()")
        span.fb-left-icon
        span.fb-copytext Continuar con facebook
    .list.list-inset
      a.button.button-primary.button-block(ui-sref='register')
        span Registrarme usando mi email

.bar.bar-footer.bar-light.existent-account-link
  .title
    | ¿Ya tienes cuenta?&nbsp;
    a(ui-sref="login") Inicia sesión

.bar.bar-footer.bar-footer-yellow-stripe
