ion-view(
  view-title="Login",
  hide-nav-bar="true"
)
  ion-content
    .row
      .logo
    .row.form-container
      .button.facebook-login(ng-click="preVm.loginWithFB()")
        span.icon-placeholder-facebook
        span.input-facebook-login Continuar con facebook
    .row.form-container
      a.button.button-login.button-block(ui-sref='register')
        span Registrarme usando mi email
.bar.bar-footer.bar-light
  .title ¿Ya tienes cuenta?
    | &nbsp;
    a(ui-sref="login") Inicia sesión
.bar.bar-footer.bar-footer-send-email
