.clients-index-page {
  .item-select {
    height: 22px;
    padding-left: 0;

    @media (max-width: $grid-responsive-sm-break) {
      &:after {
        right: 5px;
      }
    }

    select {
      padding-left: 0;
      padding-right: 35px;
      max-width: 100%;
      font-family: Montserrat-Light;

      @media (max-width: $grid-responsive-sm-break) {
        padding-right: 20px;
        letter-spacing: -0.5px;
      }
    }
  }

  .resource-collection-table {
    .item.row {
      @media (max-width: $grid-responsive-sm-break) {
        font-size: 14px;
      }
    }
  }
}

.clients-footer-constraint-width {
  width: 280px;
  display: inherit;
  margin: auto;
}
