.item-page{
  .item-title {
    color: #666;
    font-size: 15px;
    font-weight: bold;
    margin: 5px 0 -10px 0;
    text-align: left;
    text-transform: uppercase;
    width: 100%;
  }

  .bar-base-yellow{
    background-color: $base-yellow !important;
  }

  .title{
    color: $white !important;
  }

  .list-large {
    margin-top: 15px;
    width: 100%;
  }
}

.footer-item-container {
  display: block;
  text-align: center;
  .button-secondary {
    background-color: $white;
    height: 30px;
    line-height: normal;
    margin: 10px;
    padding: 0 20px;
    text-align: center;
    text-transform: uppercase;
    width: auto;
  }
  .button-secondary-yellow {
    @extend .button-secondary;
    border: 3px solid $base-yellow;
    color: $base-yellow;
  }
}
