.item-show-page {
  font-family: Montserrat-Light;

  .item.item-toggle {
    border: 0;
    display: inline-block;

    @media (max-width: $grid-responsive-sm-break) {
      padding-left: 0;
    }
  }

  .stretched-row {
    .col {
      padding-top: 0;
    }
    .button {
      line-height: 40px;
    }
  }

  .slick-wrapper {
    margin-top: 15px;
    margin-bottom: 5px;

    .slick-content {
      margin-bottom: 10px;
      padding-left: 10px;
      padding-right: 10px;
    }

    img {
      max-height: 400px;
      max-width: 100%;
      margin: auto;
    }
  }

  .resource-detail-summary {
    text-transform: uppercase;
  }
}
