.moviggo-logo-1 {
  @include background-centered('../images/brand/moviggo-1.png');
  height: 125px;
}

.moviggo-logo-2 {
  background-size: contain;
  height: 100px;
  max-width: 240px;
  @include background-centered('../images/brand/moviggo-2.png');
}
