.slider {
  height: 100%;
  font-family: "Montserrat-Regular";
  background-image: url('../images/bg.png');

  .slider-slide {
    padding-top: 3%;
    text-align: center;
  }
}

.intro-slides {
  .list-logo {
    background-size: contain;

    &.above {
      height: 110px;
    }

    &.below {
      height: 120px;
      margin-top: 30px;
    }

    @media (min-height: $grid-responsive-sm-break) {
      // add some spacing for tall devices
      margin-bottom: 15px;
    }
  }

  .logo-compra {
    @include background-centered('../images/logo_compra.png');
  }
  .logo-bolsa {
    @include background-centered('../images/bag.png');
  }
  .logo-envia {
    @include background-centered('../images/logo_envia.png');
  }
  .logo-cohete {
    @include background-centered('../images/rocket.png');
  }
  .logo-vende {
    @include background-centered('../images/logo_vende.png');
  }
  .logo-precio {
    @include background-centered('../images/price_tag.png');
  }

  .intro-copytext {
    width: 100%;
    color: $white;
    padding-left: 5%;
    padding-right: 5%;
    border: none;
    background-color: transparent;
    @media (min-height: 550px) {
      margin-top: 5%;
    }
  }
}

.slider-pager {
  bottom: 15%;

  .slider-pager-page {
    color: $base-yellow;
  }
}

.bar-intro-button {
  background-color: transparent;
  background-image: none;
  margin-bottom: 5%;
  margin-top: 5%;
  .common-button {
    width: 70%;
    margin: auto;
    font-size: 12pt;
  }
}

@media (orientation: landscape) and
       (max-width: $grid-responsive-lg-break) {
  .slider {
    .slider-slide {
      padding-top: 1%;
    }
  }

  .intro-slides {
    .list-logo {
      &.above {
        height: 70px;
      }

      &.below {
        height: 80px;
      }
    }
  }

  .slider-pager {
    bottom: 25%;
  }
}

// HACKS for small devices
@media (max-height: 400px) {
  .bar-intro-button {
    margin-bottom: 15px;
    margin-top: 30px;
  }
  .intro-copytext-wrapper {
    position: absolute;
    bottom: 80px;
  }
  .slider-pager {
    bottom: 70px;
  }
}
@media (orientation: portrait) and
       (max-height: 400px) {
  .intro-copytext-wrapper {
    top: 160px;
    bottom: initial;
  }
  .list-logo.below {
    display: none;
  }
}
@media (orientation: landscape) and
       (max-height: 300px) {
  .intro-copytext-wrapper {
    top: 110px;
    bottom: initial;
  }
  .slider-pager {
    display: none;
  }
  .list-logo.above {
    height: 90px;
    margin-top: 20px;
  }
  .list-logo.below {
    display: none;
  }
}
