.logo {
  @include background-centered('../images/logo_color.png');
  height: 125px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.form-container {
  margin: auto;
  margin-top: 50px;
  width: 90%;
}

.button-login {
  @extend .common-button;
  font-family: Montserrat-Light;
  background-color: $base-yellow;
  margin-top: 20px;
  color: $white;
  width: 100%;
}

.forgot-password {
  margin: auto;
}
