.logo {
  @include background-centered('../images/logo_color.png');
  height: 125px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.form-container {
  margin: auto;
  margin-top: 50px;
  width: 90%;
}
