// https://github.com/driftyco/ionic/blob/v1.3.1/scss/_variables.scss
@import "../bower_components/ionic/scss/_variables";

@import "colors/colors";
@import "responsive/variables";

@import "overrides/lists";
@import "overrides/bar-header";
@import "overrides/bar-footer";
@import "overrides/input-icons";
@import "overrides/base-colors";
@import "overrides/popup";

@import "fonts/fonts";
@import "common/rows";
@import "common/text";
@import "common/mixins";
@import "common/buttons";
@import "common/footer-stripes";
@import "common/input_icons";
@import "common/search-input";
@import "common/tabs-striped";
@import "common/grid";
@import "common/slick";
@import "common/modal";
@import "common/images";
@import "forms/general";
@import "forms/inputs";
@import "forms/resource-form";
@import "forms/resource-form-picture-uploader";

@import "intro";
@import "branding-logos";
@import "main/main-sidebar";
@import "login/general";
@import "login/register";
@import "applications/form";
@import "map/map";
@import "provider/detail";
@import "directives/back-button";
@import "directives/show-error";
@import "directives/product-counter";
@import "directives/action-button";
@import "directives/link-button";
@import "directives/providers-carousel";
@import "directives/slick-item";
@import "directives/sidebar-header-current-user";
@import "resource/details-table";
@import "resource/collection-table";
@import "resource/collection-rounded-containers";
@import "categories/index";
@import "categories/show";
@import "customer/show";
@import "customer/order";
@import "customer/profile-form";
@import "item/index";
@import "item/form";
@import "item/show";
@import "clients/index";
@import "wishlist/wishlist";
@import "error/error";
@import "products/show";
@import "products/add-to-wishlist";
@import "couriers/shipping-request-common";
@import "couriers/shipping-request-index-list";
@import "couriers/shipping-request-show-page";
@import "offices/show";
@import "offices/form";
@import "dispatchers/show";
@import "cart/cart";
@import "cart/edit-item";
@import "orders/provider-orders-index-page";
@import "orders/provider-show";
@import "tabs/index";
@import "places/collection";
@import "tos/show";
