// https://github.com/driftyco/ionic/blob/v1.3.1/scss/_variables.scss
@import "../bower_components/ionic/scss/_variables";

@import "colors/colors";

@import "overrides/lists";
@import "overrides/bar-header";
@import "overrides/bar-footer";
@import "overrides/input-icons";
@import "overrides/base-colors";

@import "fonts/fonts";
@import "common/rows";
@import "common/mixins";
@import "common/buttons";
@import "common/footer-stripes";
@import "common/input_icons";
@import "common/search-input";
@import "common/state-tabs";
@import "common/grid";
@import "forms/general";
@import "forms/inputs";
@import "forms/resource-form";

@import "intro";
@import "branding-logos";
@import "login/general";
@import "login/register";
@import "applications/form";
@import "map/map";
@import "provider/detail";
@import "directives/back-button";
@import "directives/show-error";
@import "directives/product-counter";
@import "directives/action-button";
@import "directives/link-button";
@import "directives/slick-provider";
@import "categories/index";
@import "categories/show";
@import "item/item";
@import "client/client";
@import "wishlist/wishlist";
@import "error/error";
@import "menu/menu";
@import "products/show";
@import "profile/profile";
@import "profile/profile-addresses";
@import "profile/profile-addresses-update";
@import "couriers/orders";
@import "billing-addresses/billing-addresses"
