.register-title, .register-subtitle {
  text-align: center;
}

.register-title {
  font-size: 20px;
  font-family: Montserrat-Light;
}

.register-subtitle {
  margin-top: 10px;
  font-family: Montserrat-Light;
}
