.button {
  margin: auto;
  min-height: 40px;

  &.button-link {
    color: $base-grey;
    text-decoration: underline;
  }
}

.common-button {
  border-radius: 8px;
  font-family: Montserrat-Light;
  color: $white;
  width: 100%;
  background-color: $base-yellow;
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.button {
  font-family: Montserrat-Light;
}

.button-primary,
.button-primary.button-full,
.button-primary.activated {
  @extend .common-button;

  &.spaced {
    margin-top: 30px;
  }
}

.button-outline {
  border-radius: 0;
  border-width: 3px;
  text-transform: uppercase;
}

.button-energized {
  border-color: $base-yellow;
  color: $base-yellow;
}

.button-energized,
.button-positive {
  padding: 3px 18px;
  line-height: 30px;
  font-family: Montserrat-Regular;
}

.button-stretched {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 26px;
}

.button-letter-stretched {
  letter-spacing: -0.5px;
}

.button-text-yellow {
  background: transparent;
  border: none;
  color: $base-yellow;
}

.facebook-login,
 {
  @extend .common-button;
  background-color: $facebook-blue;

  .fb-copytext {
    padding-left: 30px;
  }
}

.button-primary,
.facebook-login {
  &.activated {
    color: $white;
  }

  &:hover {
    color: $white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  }
}

.button[disabled] {
  pointer-events: auto;

  &:active {
    color: $button-stable-text;
    border-color: $button-stable-active-border;
    background-color: $button-stable-active-bg;
  }
}
