.button {
  margin: auto;
  min-height: 40px;

  &.button-link {
    color: $base-grey;
    text-decoration: underline;
  }
}

.common-button {
  border-radius: 8px;
  font-family: Montserrat-Light;
  color: $white;
  width: 100%;
  background-color: $base-yellow;
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.button-primary,
.button-primary.button-full,
.button-primary.activated {
  @extend .common-button;

  &.spaced {
    margin-top: 30px;
  }
}

.button-white-cta {
  background-color: $white;
  border-radius: 0;
  border: 3px solid $base-yellow;
  color: $base-yellow;
  text-transform: uppercase;
  padding: 3px 18px;
  line-height: 30px;
  font-family: Montserrat-Regular;

  &:hover {
    background-color: $base-yellow;
    color: $white;
  }

  &.activated {
    border-color: $base-yellow;
    background-color: $base-yellow;
  }
}

.facebook-login,
.facebook-login.activated, {
  @extend .common-button;
  background-color: $facebook-blue;

  .fb-copytext {
    padding-left: 30px;
  }
}

.button-primary,
.facebook-login,
.button-white-cta {
  &.activated {
    color: $white;
  }

  &:hover {
    color: $white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  }
}
