@mixin image-centered($url, $width, $height) {
  margin: 0 auto;
  border: none;
  background-color: transparent;
  img {
    max-width: $width;
    max-height: $height;
    content: url($url);
  }
}

@mixin background-centered($url, $width, $height) {
  background-image: url($url);
  background-repeat: no-repeat;
  width: $width;
  height: $height;
  margin: 0 auto;
}
