.state-tabs {
  .tab-nav {
    top: 0;
    position: relative;
    background: none;
    border-top: none;
    border-bottom: 0.1rem solid $base-yellow;
  }
  .tab-item {
    font-family: Montserrat-Regular;
    &.tab-item-active {
      border-bottom: 0.3rem solid $base-yellow;
    }
  }
}
