.common-button {
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.hide-input-border {
  border-left: none;
  border-right: none;
  border-top: none;
}

.bar-footer-send-email {
  padding: 3px;
  height: 3px;
  background-color: $base-yellow;
}

.icon-input-placeholder {
  position: absolute;
  background-repeat: no-repeat;
  margin-top: 10px;
  width: 30px;
  height: 20px;
}

.icon-input-placeholder-email {
  @extend .icon-input-placeholder;
  background-image: url('../images/envelope.png');
}

.icon-input-placeholder-password {
  @extend .icon-input-placeholder;
  background-image: url('../images/lock.png');
}

.icon-placeholder-facebook {
  @extend .icon-input-placeholder;
  background-image: url('../images/FB-f-Logo__white_29.png');
  background-size: contain;
}
