ion-slide-box.intro-slides(on-slide-changed="introVm.slideChanged(index)")
  ion-slide
    .list
      .item.item-image.logo-compra
        img
      .item.item-image.logo-bolsa
        img
    .row
      .text
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          | tempor incididunt ut labore et dolore magna.
  ion-slide
    .list
      .item.item-image.logo-vende
        img
      .item.item-image.logo-precio
        img
    .row
      .text
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        | tempor incididunt ut labore et dolore magna.
  ion-slide
    .list
      .item.item-image.logo-envia
        img
      .item.item-image.logo-cohete
        img
    .row
      .text
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        | tempor incididunt ut labore et dolore magna.
.bar.bar-footer.bar-intro-button
  button.intro-button.button.no-animation(ng-click="introVm.next()" ng-if="introVm.slideIndex != 2")
    |Continuar
  button.intro-button.button.no-animation(ng-click="introVm.startApp()" ng-if="introVm.slideIndex == 2")
    |Empezar
