ion-slide-box.intro-slides(on-slide-changed="introVm.slideChanged(index)")
  ion-slide
    .list
      .list-logo.above.logo-compra
      .list-logo.below.logo-bolsa
    .row
      .text
        | Consigue lo que quieras, cuando quieras y en donde lo quieras, ¡Simple!

  ion-slide
    .list
      .list-logo.above.logo-vende
      .list-logo.below.logo-precio
    .row
      .text
        | Dales a tus clientes lo que deseen, cuando lo deseen, donde ellos lo deseen, ¡Simple!
  ion-slide
    .list
      .list-logo.above.logo-envia
      .list-logo.below.logo-cohete
    .row
      .text
        |No te preocupes, el trabajo difícil lo hacemos por ti, ¡Simple!
.bar.bar-footer.bar-intro-button
  button.intro-button.button.no-animation(ng-click="introVm.next()" ng-if="introVm.slideIndex != 2")
    |Continuar
  button.intro-button.button.no-animation(ng-click="introVm.startApp()" ng-if="introVm.slideIndex == 2")
    |¡Genial!
