input {
  font-family: Montserrat-Light;
}

.item-input {
  padding: 6px 0 5px 5px;
  margin-bottom: 2px;
  // hide borders
  border-left: none;
  border-right: none;
  border-top: none;

  &.with-icon {
    input {
      &[type=text],
      &[type=password],
      &[type=email],
      &[type=number] {
        padding-left: 40px;
      }
    }
  }
}
