.resource-form {
  .fields-wrapper {
    width: 100%;
    padding-bottom: 100px; // some padding because of fixed bottom bar
  }

  legend {
    border: 0;
    font-size: 16px;
    line-height: 30px;
    text-transform: uppercase;
    font-family: Montserrat-SemiBold;
  }

  .item-error {
    border-color: $error-red;

    .input-label {
      color: $error-red;
    }
  }
  div.item.item-toggle{
    padding: 6px 0 5px 5px;
    margin-top: 15px;
    margin-bottom: 2px;
    // hide borders
    border-left: none;
    border-right: none;
    border-top: none;
    .input-label {
      font-size: 14px;
      text-transform: uppercase;
      font-family: Montserrat-Regular;
    }
  }
  label.item-input.item-stacked-label,
  label.item-input.item-select,
  label.item-input.item-radio {
    // override default
    margin-top: 15px;
    margin-bottom: 30px;
    padding-bottom: 0;
    padding-left: 0;

    .input-label {
      font-size: 14px;
      text-transform: uppercase;
      font-family: Montserrat-Regular;
    }

    input {
      &[type=tel],
      &[type=text],
      &[type=email],
      &[type=number],
      &[type=password],
      select {
        padding-left: 15px;
        padding-bottom: 0;
        padding-top: 0;
        font-size: 16px;
        height: 25px;
      }
    }
  }

  label.item-stacked-label.item-input--no-borders {
    margin-bottom: 0;
  }

  label.item-input.item-select {
    padding-bottom: 20px;

    &:after {
      top: 40px;
    }

    select {
      left: 0;
      top: 34px;
      width: 100%;
      max-width: 100%;
      right: initial;
      direction: ltr;
      font-size: 16px;
      font-family: Montserrat-Light;
    }
  }

  label.item-input.item-radio {
    margin-bottom: 0;
    border-bottom: 0;
  }

  .item-radios {
    .ion-list {
      width: 100%;
    }
  }

  .datetime-picker {
    .input-label {
      padding-bottom: 7px;
    }
    .datetime-picker-value,
    .datetime-picker-placeholder {
      padding-left: 15px;
    }
  }

  .bar.bar-footer {
    position: relative;
  }
}

// hacking error messages so they float below inputs
.resource-form {
  .errors-wrapper {
    position: absolute;
    margin-top: -30px;

    .message-error {
      margin-right: 5px;
    }
  }
}
