ion-content
  .addresses-page
    .address-container(ng-repeat="address in ::pfaVm.addresses")
      .edit
        link-button(on-click="pfaVm.redirectToUpdateAddressView(address.id)" text="{{::('profile.addresses.buttonEdit'|translate)}}")
      .name {{address.nombre || address.direccion_uno}}
      .address-grid
        .row
          .col.col-label {{::('profile.addresses.city'|translate)}}
          .col {{address.ciudad}}
        .row
          .col.col-label {{::('profile.addresses.parish'|translate)}}
          .col {{address.parroquia}}
        .row
          .col.col-label {{::('profile.addresses.neighborhood'|translate)}}
          .col {{address.barrio}}
        .row
          .col.col-label {{::('profile.addresses.addressOne'|translate)}}
          .col {{address.direccion_uno}}
        .row
          .col.col-label {{::('profile.addresses.addressTwo'|translate)}}
          .col {{address.direccion_dos}}
        .row
          .col.col-label {{::('profile.addresses.zipCode'|translate)}}
          .col {{address.codigo_postal}}
        .row
          .col.col-label {{::('profile.addresses.reference'|translate)}}
          .col {{address.referencia}}
        .row
          .col.col-label {{::('profile.addresses.telephoneNumber'|translate)}}
          .col {{address.numero_convencional}}

    .address-create-new
      action-button(
        on-click="pfaVm.redirectToNewAddressView()"
        text='{{::("profile.addresses.addAddressBtnText"|translate)}}'
        color="yellow"
      )
