.menu {
  .show-profile {
    text-transform: uppercase;
    text-decoration: none;
  }

  .list{
    font-family: Montserrat-Regular;

    ion-item{
      text-transform: uppercase;
      cursor: pointer;
    }
    .gray-item{
      background: $light-grey;
      text-transform: uppercase;
      .item-content {
        background: $light-grey;
      }
    }
    .user-type{
      background: $base-yellow;
      color: white;
      text-transform: uppercase;
      a {
        background: $base-yellow;
      }
    }
  }
}
