ion-side-menus(enable-menu-with-back-views='false')
  ion-side-menu-content
    ion-nav-bar.bar-stable
      ion-nav-back-button
      ion-nav-buttons(side='left')
        button.button.button-icon.button-clear.ion-navicon(menu-toggle='left')
    ion-nav-view(name='menuContent')
  ion-side-menu(side='left')
    ion-header-bar.bar-stable
    ion-content
      ion-list
        ion-item
          | {{::("menu.provider.orders"|translate)}}
        ion-item(menu-close='' ui-sref='provider.items.index')
          | {{::("menu.provider.products"|translate)}}
        ion-item(menu-close='' ui-sref='provider.clients.index')
          | {{::("menu.provider.clients"|translate)}}
        ion-item
          | {{::("menu.provider.account"|translate)}}
        ion-item(menu-close='' ui-sref='provider.dispatchers.index')
          | {{::("menu.provider.dispatchers"|translate)}}
        ion-item(menu-close='' ui-sref='provider.offices')
          | {{::("menu.provider.establishments"|translate)}}
        ion-item
          | {{::("menu.provider.promotionsAndDiscounts"|translate)}}
        ion-item
          | {{::("menu.provider.moviggoAdvertising"|translate)}}
        ion-item
          | {{::("menu.invite"|translate)}}
        ion-item(ng-controller='LoginController as loginVm', ng-click='loginVm.logout()')
          | {{::("menu.logout"|translate)}}
        ion-item.gray-item
          | {{::("menu.changeTo"|translate)}}
        ion-item.user-type(menu-close='' ui-sref='app.categories.index')
          | {{::("menu.user.buyer"|translate)}}
