ion-side-menus(enable-menu-with-back-views='false')
  ion-side-menu-content
    ion-nav-bar.bar-stable
      ion-nav-back-button
      ion-nav-buttons(side='left')
        button.button.button-icon.button-clear.ion-navicon(menu-toggle='left')
    ion-nav-view(name='menuContent')
  ion-side-menu(side='left')
    ion-header-bar.bar-stable
    ion-content
      ion-list
        ion-item(menu-close='' class='menu-header' ng-if="siteVm.user.name")
          | {{siteVm.userName()}}
        ion-item(menu-close='' ui-sref='app.profile.info')
          | {{::("menu.profile"|translate)}}
        ion-item(menu-close='' ui-sref='app.cart.index' ng-if='user.customer_order')
          | {{::("menu.client.cart"|translate)}}
        ion-item(menu-close='' ui-sref='app.categories.index')
          | {{::("menu.client.category"|translate)}}
        ion-item.gray-item(ng-repeat='categorie in menuVm.categories'
                           ui-sref='app.categories.show({id: categorie.id})'
                           menu-close='')
          li {{::categorie.titulo}}
        ion-item
          | {{::("menu.account"|translate)}}
        ion-item.gray-item
          li {{::("menu.client.myOrders"|translate)}}
        ion-item.gray-item
          li {{::("menu.client.myLists"|translate)}}
        ion-item.gray-item
          li {{::("menu.client.coupon"|translate)}}
        ion-item.gray-item
          li {{::("menu.client.payments"|translate)}}
        ion-item.gray-item(menu-close='' ui-sref='app.wishlist.index')
          li {{::("menu.client.wishlist"|translate)}}
        ion-item.gray-item(menu-close='' ui-sref='app.billing.addresses')
          li {{::("menu.client.billingAddresses"|translate)}}
        ion-item
          | {{::("menu.invite"|translate)}}
        ion-item(ng-controller='LoginController as loginVm', ng-click='loginVm.logout()')
          | {{::("menu.logout"|translate)}}
        ion-item.gray-item
          | {{::("menu.changeTo"|translate)}}
        ion-item.user-type(menu-close=''  ui-sref='app.provider.welcome', ng-if='!user.provider_profile')
          | {{::("menu.user.provider"|translate)}}
        ion-item.user-type(menu-close='' ui-sref='provider.items.index', ng-if='user.provider_profile')
          | {{::("menu.user.provider"|translate)}}
        ion-item.user-type(menu-close='' ui-sref='app.courier.welcome', ng-if='!user.courier_profile')
          | {{::("menu.user.courier"|translate)}}
        ion-item.user-type(menu-close='' ui-sref='courier.orders', ng-if='user.courier_profile')
          | {{::("menu.user.courier"|translate)}}
