ion-view(
  view-title='{{::("menu.provider"|translate)}}'
)
  ion-nav-title
    .alt-logo
  ion-content
    .provider-detail
      .row
        .col-25
          img.format-image(src='{{providerDetVm.provider.image}}')
        .col-75.details
          .nombre {{providerDetVm.provider.name}}
          .descripcion {{providerDetVm.provider.description}}
          .horario {{providerDetVm.provider.horary}}
      .grid-parent
        .content.grid-33(ng-repeat="product in providerDetVm.provider.products")
            .product-detail(ui-sref='app.categories.provider.product({id:product.id})')
              img.format-image(src='{{product.image}}')
              .descripcion {{product.description}}
              .precio {{product.price}}
