ion-view
  ion-content
  .row
    .moviggo-logo
  .row
    .list.common-text
      h1 Conviértete en proveedor
      p Con moviggo puedes enviar productos y convertirte en proveedor

  .row
    .list.common-text
      a.button.button-primary(ui-sref='app.provider.new') Empezar
