ion-view(
  view-title='{{::("menu.user.provider"|translate)}}'
)
  ion-nav-title
    .alt-logo
  ion-content.pre-application-form
    .row
      .moviggo-logo-2.branding-logo
    .row
      .list.list-inset.common-text
        h1.title Conviértete en Vendedor
        p Con moviggo puedes vender tus productos de manera rápida y sencilla
    .row
      .list.list-inset.list--centered
        a.button.button-outline.button-energized(
          ui-sref='app.provider.new'
        ) Empezar
