ion-view(
  view-title='{{::("menu.client.cart"|translate)}}'
)
  ion-nav-title
    .alt-logo
  ion-content
    .item(ng-repeat="item in cartVm.cart.customer_order_items track by $index")
      | {{item.cantidad}} {{item.provider_item.descripcion}}
