ion-view(
  view-title='{{::("menu.client.cart"|translate)}}'
)
  ion-nav-title
    .alt-logo
  ion-content.cart-page
    .item(ng-repeat="provider in cartVm.cart.provider_profiles track by $index")
      .provider-items-container
        .business-name {{provider.razon_social}}
        slick-item(settings="cartVm.slickSettings" data="provider")

  ion-footer-bar.cart-page-footer
    action-button(
      ng-disabled="!cartVm.cart.provider_profiles"
      on-click="cartVm.showCheckoutModal()"
      text="{{::('cart.buyItems'|translate)}}"
    )
    .total
      | (Subtotal)
      span.value
        | {{cartVm.total | currency}}
