ion-view(
  view-title='{{::("menu.client.cart"|translate)}}'
)
  ion-nav-title {{ ::('cart.title' | translate) }}
  ion-content.cart-preview
    .provider-profile-section(
      ng-repeat="providerProfile in cartVm.cart.provider_profiles track by $index"
    )
      .provider-profile--title
        | {{ ::providerProfile.nombre_establecimiento }}
      .provider-items-in-cart
        slick-item(settings="cartVm.slickSettings" data="providerProfile")

  ion-footer-bar.bar-light.cart-page-footer.bar-footer--tall
    button.button.button-small.button-outline.button-energized.button-letter-stretched(
      ng-click="cartVm.showCheckoutModal()"
      ng-disabled="!cartVm.cart.provider_profiles"
    ) {{ ::('cart.buyItems'|translate) }}

    .total
      span.value {{ cartVm.total | currency }}
