ion-modal-view
  ion-header-bar.bar-stable.bar.bar-header
    .title.alt-logo

    .ion-nav-buttons.buttons(side="primary")
      button.button.button-clear.button-positive(
        ng-click="productVm.closeModal()"
      ) {{::('globals.cancel'|translate)}}

  ion-content.item-show-page
    div(
      ng-include="'templates/product/product.html'"
    )
