.order-show-page{
  font-family: Montserrat-Light;

  .page-title {
    font-family: Montserrat-Regular;

    h2 {
      color: $dark;
      font-size: 22px;
      line-height: 24px;
    }
  }

  .order-container{
    border-radius: 10px;
    border: 1px solid $base-yellow;
    margin-top: 15px;
    cursor: pointer;
    i{
      color: $base-yellow;
      span{
         padding: 5px
      }
    }
  }
}
