.provider-show-customer-order {
  font-family: Montserrat-Light;

  h1, h2, h3, h4 {
    font-family: Montserrat-Regular;
  }

  .button-block {
    max-width: 90%;
    min-width: 180px;
  }

  .resource-form {
    .button-block {
      margin-top: 0;
    }
  }
}
