ion-view(
  view-title='{{::("client.clients"|translate)}}'
)
  ion-nav-title
    .alt-logo
  ion-content
    ion-list
      ion-item.wishlist-item(ng-repeat="location in ::locationsVm.locations track by $index")
        .text {{location.nombre}} - {{location.country}}


