.show-profile-page {
  font-family: Montserrat-Light;

  .profile-header {
    .img-profile {
      display: block;
      margin: auto;
      max-width: 140px;
      max-height: 140px;
      border-radius: 50%;
    }

    .user-name {
      text-align: center;
      font-size: 26px;
      line-height: 30px;
      margin: 15px 0;
      color: $dark;
    }
  }

  .actions-wrapper {
    margin-bottom: 0;
  }
}

.addresses-wrapper {
  top: 0;

  &--fix-scroll {
    height: auto;
    bottom: initial;
    padding-bottom: 15px;
  }

  .address-wrapper {
    .resource-detail-title {
      font-size: 18px;
      margin-bottom: 5px;
    }

    .static-map-preview {
      max-width: 100%;
    }
  }
}
