.show-profile-page {
  color: $base-darkteal;

  .profile-header {
    .img-profile {
      display: block;
      margin: auto;
      margin-top: 15px;
      max-width: 140px;
      max-height: 140px;
      border-radius: 50%;
    }

    .user-name {
      text-align: center;
      font-size: 26px;
      line-height: 30px;
      margin: 0 0 15px 0;
      font-family: GochiHand-Regular;
    }
  }

  .actions-wrapper {
    margin-bottom: 0;
  }
}

.addresses-wrapper {
  top: 0;

  &--fix-scroll {
    height: auto;
    bottom: initial;
    padding-bottom: 15px;
  }

  .address-wrapper {
    .resource-detail-title {
      font-size: 18px;
      margin-bottom: 5px;
      color: $base-darkteal;
    }

    .static-map-preview {
      max-width: 100%;
    }
  }

  .edit-address-btn {
    float: right;
    min-height: initial;
    line-height: 18px;
    margin-bottom: 5px;
    margin-left: 5px;
  }
}
