ion-view(
  view-title='{{::("menu.category"|translate)}}'
)
  ion-nav-title
    .alt-logo
  ion-content
    .grid-parent
      a.grid-content(ng-repeat="category in categoryVm.categories"
                    ng-class="($index+1) % 3 === 0 ? 'grid-100': 'grid-50'"
                    ui-sref="app.categories.show({id: category.id})"
                    style="background-image: url('{{category.imagen|defaultImage}}')")
        .title {{category.titulo}}
