ion-view(
  view-title="{{:: categoryVm.category.titulo}}"
)
  ion-nav-title
    .alt-logo

  //- cart
  ion-nav-buttons(side="right")
    button.cart-main-button(
      ui-sref='app.cart.index'
      ng-if='menuVm.existCartActive'
    ) {{menuVm.numberItems}}
      i.ion-ios-cart-outline

  ion-content.category-page(
    style="background-image: url('{{categoryVm.category.imagen_url}}')"
  )
    .category-title.grid-text-shadow {{categoryVm.category.titulo}}
    .category-description.grid-text-shadow {{categoryVm.category.descripcion}}
    providers-carousel(options="categoryVm.options")
