ion-view(
  view-title="{{:: categoryVm.category.titulo}}"
)
  ion-nav-title
    .alt-logo
  ion-content(class="category-page",
    style="background-image: url('{{categoryVm.category.imagen_url|defaultImage}}')"
  )
    .category-title {{categoryVm.category.titulo}}
    .category-description {{categoryVm.category.descripcion}}
    slick-provider(options="categoryVm.options")
