ion-view(
  view-title="{{:: categoryVm.category.titulo}}"
)
  ion-nav-title
    .alt-logo
  ion-content.category-page(
    style="background-image: url('{{categoryVm.category.imagen_url}}')"
  )
    .category-title.grid-text-shadow {{categoryVm.category.titulo}}
    .category-description.grid-text-shadow {{categoryVm.category.descripcion}}
    slick-provider(options="categoryVm.options")
