ion-view(
  view-title='{{::("menu.category"|translate)}}'
)
  ion-nav-title
    .alt-logo
  ion-content(class="category-page")
    slick(settings="categoryVm.slickConfig")
      .slick-container(ng-repeat="category in categoryVm.categories")
        .slick-content
          .img(style="background-image: url('{{category.imagen}}')")
          .nombre {{category.name}}
          .horario {{category.horario}}
          
          
