.login-form {
  .moviggo-logo-1 {
    margin-bottom: 50px;
  }

  form {
    width: 100%;
  }
}

.existent-account-link {
  height: 70px;

  .title {
    top: 5px;
  }
}

.center-items-login{
  width: 100%;
}

@media (max-width: 768px) {
  .center-items-login {
    margin-left: 0px;
    margin-right: 0px;
  }

  .moviggo-logo-1 {
    margin-top: 40px;
  }
}

@media (min-width: 769px) {
  .center-items-login {
    margin-left: 25%;
    margin-right: 25%;
  }

  .moviggo-logo-1 {
    margin-top: 70px;
  }
}

