.action-button {
  background-color: transparent;
  height: 2.5em;
  line-height: normal;
  margin: 0 0.5em;
  padding: 0 1em;
  text-align: center;
  text-transform: uppercase;
  width: auto;
  &.disable {
    opacity: 0.5;
    pointer-events: none;
  }
  &.enable {
    opacity: 1;
  }
}
