.bar-header-transparent {
    border: 0px;
    border-bottom-color: transparent;
    background-image: none;
    border-bottom: none;
    position: relative;
    span::before {
      font-size: 20px !important;
    }
}
