.product-counter {
  display: flex;
  font-family: Montserrat-Light;
  font-size: 32px;
  line-height: 34px;
  justify-content: flex-end;

  .actions-panel {
    display: flex;
    align-items: center;
    width: 100%;

    .button-minus-container {
      .button-minus {
        color: $base-yellow;
      }
    }
    .button-plus-container {
      .button-plus {
        color: $light-green;
      }
    }
  }

  .price-panel {
    display: flex;
    padding-right: 15px;
    align-items: center;
  }
}
