ion-view(
  view-title='{{::("termsAndConditions.termsAndConditions"|translate)}}'
)
  .bar.bar-stable.bar-header
    .alt-logo
  ion-content.pre-application-form.has-header.tos-show-page
    //- without top logo
      .row
        .moviggo-logo-2.branding-logo
    .row
      .list.list-inset.common-text
        .tos-contents.text-left(
          ng-bind-html="terCondVm.tosHTML"
        )
    .row
      .list.list-inset.list--centered
        button.button.button-outline.button-energized(
          ng-click="terCondVm.agreeTermsOfService()"
        ) {{::("termsAndConditions.agreeTOS"|translate)}}
