ion-view
  .bar.bar-stable.bar-header
    .title
      .alt-logo
  ion-content.pre-application-form.has-header.tos-show-page(
    locking="false"
  )
    //- without top logo
      .row
        .moviggo-logo-2.branding-logo
    .row
      .list.list-inset.common-text
        .tos-contents.text-left(
          ng-bind-html="terCondVm.tosHTML"
        )
    .row
      .list.list-inset.list--centered
        button.button.button-outline.button-energized.primary-button(
          ng-click="terCondVm.agreeTermsOfService()"
        ) {{::("termsAndConditions.agreeTOS"|translate)}}
