ion-view(
  view-title='{{::("menu.product"|translate)}}'
)
  ion-nav-title
    .alt-logo
  ion-content
    .row
      form.product-detail(name="selectProductForm" ng-submit='productVm.selectProduct()')
        .list
          img.format-image(src='{{productVm.product.image}}')
          .add-product
            button.button.button-outline.button-energized
              | Añadir al carrito
            button.button.button-outline.button-positive
              | Añadir a mi whishlist
          .more-description
            .more-label
              button.button.button-clear.button-energized(ng-click="productVm.showMore()")
                | more...
            .observations(ng-if="productVm.more")
              .large-description
                h4 Descripción Larga
                p {{productVm.product.more}}
              h4 Observaciones
              textarea(ng-model='productVm.product.user_notes')
  ion-footer-bar.bar-stable(align-title='center')
    .footer-product
      .left-panel
        button.button.button-outline.button-energized
          | Comprar Ahora
      .center-panel
        a.button.button-icon.icon.ion-minus-circled(ng-click="productVm.updatePrice('remove')")
        h2 X {{productVm.product.amount}}
        a.button.button-icon.icon.ion-plus-circled(ng-click="productVm.updatePrice('add')")
      .right-panel
        h2 ${{productVm.product.totalPrice}}
