ion-view(
  view-title='{{::("menu.product"|translate)}}'
)
  ion-nav-title
    .alt-logo
  ion-content
    .row
      form.product-detail(name="selectProductForm" ng-submit='productVm.selectProduct()')
        .list
          slick(settings="productVm.slickConfig")
            .slick-container(ng-repeat="image in productVm.product.images track by $index")
              .slick-content
                .img(style="background-image: url('{{image}}')")
          .description
            .title
              h4 {{productVm.product.name}}
              .more-label
                button.button.button-clear.button-energized(ng-click="productVm.toggleShow()")
                  | {{(productVm.more) ? ("product.less"|translate) : ("product.more"|translate)}}
            p {{productVm.product.description}}
          .add-product
            button.button.button-outline.button-energized
              | {{::("product.addCar"|translate)}}
            button.button.button-outline.button-positive
              | {{::("product.addWishlist"|translate)}}
          .more-description
            .observations(ng-if="productVm.more")
              .large-description
                h4 Descripción Larga
                p {{productVm.product.more}}
              h4 Observaciones
              textarea(ng-model='productVm.product.user_notes')
  ion-footer-bar.bar-stable(align-title='center')
    .footer-product
      .left-panel
        button.button.button-outline.button-energized
          | {{::("product.buyNow"|translate)}}
      .center-panel
        button.button-icon.icon.ion-minus-circled(ng-click="productVm.updatePrice('remove')")
        h2 X {{productVm.product.amount}}
        a.button.button-icon.icon.ion-plus-circled(ng-click="productVm.updatePrice('add')")
      .right-panel
        h2 ${{productVm.product.totalPrice}}
