.content-office{

  padding: 0px 20px;

  h5 span {
    color: $base-yellow;
  }

  span{
    padding: 0 5px;
  }

  .action{
    cursor: pointer
  }
  .line{
    color: $base-grey;
  }
  .delete{
    color: $error-red;
  }
  .table{
      width: 100%;
      border-collapse: collapse;
      border: 7px #FFFFFF solid;
      tr {
        border: 0.1px  $base-yellow solid;
      }
      td {
        border: 0.1px  $base-yellow solid;
      }
  }
  .toogle{
    border: none;

    .handle {
      background-color: $base-yellow;
    }
    .toggle {
       right: 50px;
       top: 6px;
    }
    .toggle input:checked + .track .handle {
      background-color: $base-yellow;
    }
    .toggle input:checked + .track {
      background-color: #e6e6e6;
      border-color: #e6e6e6;
    }
  }

}
.content-office-map{
  padding: 0px;
  #map {
    width: 100%;
    height: 300px;
    margin: 15px 0px;
  }
}

.content-office-disabled{
  opacity: 0.5;
  cursor: default;
}

.content-office-datetime{
  label{
    cursor: pointer;
  }
  span{
    margin-bottom: 5px;
  }
}
