.office-show-page {
  font-family: Montserrat-Light;

  .item-toggle {
    border-bottom: 0;
  }

  .office-map {
    height: 300px;
    margin: 0 0 15px 0;
    box-shadow: 0 1px 5px transparentize($base-grey, .5);

    #office-map {
      height: 100%;
    }
  }
}
