ion-content.profile-page
  link-button(on-click="piVm.showNewModal(piVm.user)" text="{{::('globals.edit'|translate)}}")
  .row
    label.item.item-input.item-stacked-label
      span.input-label {{::("user.name"|translate)}}

    label.item.item-input.item-stacked-label
      span.input-label {{piVm.user.name}}
  .row
    label.item.item-input.item-stacked-label
      span.input-label {{::("user.email"|translate)}}

    label.item.item-input.item-stacked-label
      span.input-label {{piVm.user.email}}
  .row
    label.item.item-input.item-stacked-label
      span.input-label {{::("user.age"|translate)}}

    label.item.item-input.item-stacked-label
      span.input-label {{piVm.user.fecha_nacimiento | age}}

  .row
    label.item.item-input.item-stacked-label
      span.input-label {{::("user.country"|translate)}}

    label.item.item-input.item-stacked-label
      span.input-label {{piVm.user.ciudad}}

  .row
    label.item.item-input.item-stacked-label
      span.input-label {{::("user.password"|translate)}}

    label.item.item-input.item-stacked-label
      span.input-label ********


