.office-schedule(
  ng-if="::(ppSVm.openingTime && ppSVm.closingTime)"
)
  span.i.icon.ion-clock
  | {{ ::ppSVm.openingTime | formatDate:'HH:mm' }}
  | -
  | {{ ::ppSVm.closingTime | formatDate:'HH:mm' }}

.office-status-text(
  ng-if="::ppSVm.isOpen"
)
  i.i.icon.ion-record
  | {{ ::("provider.schedule.open" | translate) }}
.office-status-text.closed(
  ng-if="::!ppSVm.isOpen"
)
  i.i.icon.ion-ios-circle-outline
  | {{ ::("provider.schedule.closed" | translate) }}
