ion-view(
  view-title="{{::('billingAddress.legendForm'|translate)}}"
)
  ion-nav-title
    .alt-logo
  ion-content.billing-addresses-list
    .row.col.text-center
      button.action-button.yellow(ng-click="billingAddressesVm.showNewModal()")
        {{::("billingAddress.newBillingAddress"|translate)}}

    .row
      .col.col-30
        strong {{::("client.ruc"|translate)}}
      .col.col-30
        strong {{::("provider.businessName"|translate)}}
      .col.col-30
        strong {{::("client.direccion"|translate)}}
      .col.col-10

    .row.col
        hr

    .row(ng-repeat='item in billingAddressesVm.billingAddresses')
      .col.col-30{{item.ruc}}
      .col.col-30{{item.razon_social}}
      .col.col-30{{item.direccion}}
      .col.col-10
        a.action(ng-click='billingAddressesVm.showEditModal(item, $index)')
          {{::("globals.edit"|translate)}}

    .row.col.text-center(ng-show="billingAddressesVm.billingAddresses.length==0")
      h5.data {{::("billingAddress.anyBillingAddress"|translate)}}
