ion-view(
  view-title='{{::("client.clients"|translate)}}'
)
  ion-nav-title
    .alt-logo
  ion-content.client-page
    .row
      .col.col-75.col-offset-5
        h4.client-title {{::("client.listOfClients"|translate)}}
      .col.col-15.client-add-icon
        i.icon.ion-plus-circled(ng-click="clientsVm.showModal()")
    .row.col.col-offset-5.col-90.col-offset-5
      label.item.item-input
        i.icon.ion-search.placeholder-icon
        input(ng-model="clientsVm.query" type="text" placeholder="Buscar")
      list
        a.item(
          ng-repeat="client in clientsVm.clients | filter: clientsVm.query"
          ng-click="clientsVm.showActionSheet(client)"
        )
          h2 {{ client.nombres }}
          p {{ client.ruc }}
