.show-profile-page {
  font-family: Montserrat-Light;
  overflow: auto;

  .profile-header {
    .img-profile {
      display: block;
      margin: auto;
      max-width: 140px;
      max-height: 140px;
      border-radius: 50%;
    }

    .user-name {
      text-align: center;
      font-size: 26px;
      margin: 15px 0;
      color: $dark;
    }
  }

  .actions-wrapper {
    margin-bottom: 0;
  }
}

.addresses-wrapper {
  // fix scrolling
  height: auto;
  bottom: initial;
  padding-bottom: 20px;

  .address-wrapper {
    .resource-detail-title {
      font-size: 18px;
      margin-bottom: 5px;
    }
  }
}
