.profile-page {
  margin-top: 3rem;

  //tamaño header and espaciados
  .profile-header {
    text-align: center;
    padding: 2rem;
    height: 21rem;
    .user-name {
      font-family: Montserrat-Light;
      font-size: 2rem;
      margin: 3rem;

      @media (max-width: $grid-responsive-md-break) {
        font-size: 1rem;
      }
    }
  }

  .profile-body {

    .state-tabs {
      .tab-item {
        text-transform: uppercase;
      }
    }

    .item {
      border-color: transparent;
      background-color: transparent;
      padding: 1rem;
      border-bottom: 0.1rem solid #FDC30D;
      width: 100%;
    }

    .profile-index {
      margin-top: 2rem;
    }

    //etiqueta que hace mencion al dato del comprador(Ej: "username:")
    .label-profile-customer {
      border-right: 0.1rem solid #FDC30D;
    }
  }
}
