.addresses-page {
  font-family: Montserrat-Light;
  .name {
    padding-left: 0.6rem;
    margin: 0.2rem 0;
  }
  .edit {
    display: flex;
    justify-content: center;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  }
  .address-grid {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    margin-bottom: 2rem;
    .col-label {
      opacity: 0.7;
      border-right: 0.1rem solid $base-yellow;
    }
    .row {
      border-bottom: 0.1rem solid $base-yellow;
      padding: 0.2rem 0;
      &:last-child {
        border-bottom: none;
      }
    }
  }
  .address-create-new {
    display: flex;
    justify-content: center;
  }
}
