.content-dispatchers{
  color: $base-grey;
  padding: 0px 20px;

  .margin{
    margin: 10px 0px;
  }
  .action{
    cursor: pointer
  }
  .delete{
    color: $error-red;
  }
  .opacity{
    opacity: 0.5;
  }
  .table{
      width: 100%;
      border-collapse: collapse;
      border: 7px #FFFFFF solid;
      tr {
        border: 0.1px  $base-yellow solid;
      }
      td {
        border: 0.1px  $base-yellow solid;
      }
  }
  p{
    font-weight: bold;
    margin: 0px;
  }

}
