.dispatcher-show-page {
  font-family: Montserrat-Light;

  .user-img-wrapper {
    text-align: center;

    img {
      max-height: 220px;
      border-radius: 50%;
    }

    .icon {
      display: block;
      color: $base-grey;
      margin: 10px auto;
      font-size: 60px;
    }
  }
}
