.product-counter
  .actions-panel
    .button-minus-container
      button.button-icon.icon.ion-ios-minus-outline.button-minus(
        ng-click="pcVm.handleClickMinus()"
      )
    .counter-container
      | {{ ::('item.cantidadPrefix' | translate) }}{{pcVm.itemsCount}}
    .button-plus-container
      button.button-icon.icon.ion-ios-plus-outline.button-plus(
        ng-disabled="!pcVm.canIndrement()"
        ng-click="pcVm.handleClickPlus()"
      )

  .price-panel
    .price {{ pcVm.priceTotalCents | priceCurrency | currency }}
