.update-password-view {
  .form-container {
    .item-send-password {
      @extend .hide-input-border;
    }
    .button-update-password {
      @extend .common-button;
      font-family: Montserrat-Light;
      background-color: $base-yellow;
      margin-top: 30px;
    }
  }
}
