.update-password-view {
  .common-text {
    font-family: Montserrat-Light;
    text-align: center;
    color: $base-grey;
  }
  .header-text {
    @extend .common-text;
    margin-top: 40px;
    font-size: 1.6em;
    margin-bottom: 20px;
  }
  .form-container {
    .item-send-password {
      @extend .hide-input-border;
      padding: 6px 0 5px 5px;
      margin-bottom: 2px;
      .input-send-password {
        font-family: Montserrat-Light;
        padding-left: 40px;
      }
    }
    .button-update-password {
      @extend .common-button;
      font-family: Montserrat-Light;
      background-color: $base-yellow;
      margin-top: 30px;
    }
  }
}
