.email-password-view {
  .form-container {
    .item-send-email {
      @extend .hide-input-border;
      padding: 6px 0 5px 5px;
    }
    .button-send-email {
      @extend .common-button;
      font-family: Montserrat-Light;
      background-color: $base-yellow;
      margin-top: 20px;
    }
  }
}
