.email-password-view {
  .form-container {
    .button-send-email {
      @extend .common-button;
      font-family: Montserrat-Light;
      background-color: $base-yellow;
      margin-top: 20px;
    }
  }
}
