.grid-parent {
  display: flex;
  flex-wrap: wrap;

  .grid-100 {
    width: 100%;
  }

  .grid-50 {
    width: 50%;
  }

  .grid-content{
    text-decoration: none;
    height: 120px;
    background-origin: content-box;
    padding: 2px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    .title{
      text-transform: uppercase;
      font-family: Montserrat-Regular;
      color: $white;
    }
  }
}
