.grid-parent {
  display: flex;
  flex-wrap: wrap;
  padding: 1px;

  .grid-100 {
    width: 100%;
  }

  .grid-50 {
    width: 50%;
  }

  .grid-content{
    margin: 1px 0;
    text-decoration: none;
    height: 140px;
    background-origin: content-box;
    padding: 1px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: 50%;

    .title{
      text-transform: uppercase;
      font-family: Montserrat-Bold;
      color: $white;
      text-align: center;
    }
  }
}
