.category-page{
  font-family: Montserrat-Regular;
  background-origin: content-box;
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;
  .category-title {
    font-size: 28px;
    font-family: Montserrat-SemiBold;
    margin-top: 5rem;
    margin-bottom: 3rem;
    text-align: center;
    padding: 0 0.5rem;
    line-height: 27px;
  }
  .category-description {
    text-align: center;
    padding: 0 0.5rem;
  }
}
