.category-page{
  font-family: Montserrat-Regular;
  .slick-container{
    margin-top: 30px;
    .slick-content {
      text-align: center;
      .img {
        margin: auto;
        width: 200px;
        height: 200px;
      }
    }
  }
}
