ion-view(
  view-title="{{::('office.office'|translate)}}"
)
  ion-nav-title
    .alt-logo
  ion-content
    .row.col.text-center
      button.action-button.yellow(
        ng-click="officesVm.showNewOffice()"
      ) {{::("globals.new"|translate)}} {{::("office.office"|translate)}}
    .row.content-office
      .col
        h4.item-title {{::("office.officeAddress"|translate)}}
        hr.line
        .row(ng-repeat='item in officesVm.offices')
          .col
            h5(ng-class="{'content-office-disabled': item.enabled==false}") {{item.direccion}}
              span(ng-show="$first") ({{::("office.officeMatrix"|translate)}})
          .col.text-right
            a(ui-sref='provider.office({ id: item.id})') {{::("globals.seeMore"|translate)}}
        .row(ng-show="!officesVm.offices.length")
          .col.text-center.content-office-disabled
            strong{{::("office.officesAny"|translate)}}
