ion-view(
  view-title='{{::("courier.orders"|translate)}}'
)
  ion-nav-title
    .alt-logo
  ion-content
    .orders-container
      .row
        .total-orders
          | {{::orVm.titleResultsFound}}
      .row
        .orders
          .order(ng-repeat="order in orVm.orders")
            .distance-circle
              .range
                | 1.2
            .establishment
              .name
                .text {{order.provider_profile.nombre_establecimiento}}
                .icon-location
              .location 1.2 km {{::("courier.labels.currentLocation"| translate)}}
              .time 1 hora {{::("courier.labels.forDelivery"| translate)}}
            
