ion-view(
  view-title='{{::("menu.user.courier"|translate)}}'
)

  ion-nav-title
    .alt-logo
  ion-content.pre-application-form
    .row
      .moviggo-logo-2.branding-logo
    .row
      .list.list-inset.common-text
        h1.title Bienvenido
