.cart-page-footer {
  display: flex;
  align-items: center;

  .total {
    font-family: Montserrat-Regular;
    margin-right: 15px;

    .value {
      font-size: 32px;
      color: $button-blue
    }
  }

  .button {
    margin-left: 15px;
  }
}

.customer-order-preview {
  background-color: $light-grey;

  .scroll {
    padding-bottom: 30px;
  }

  .cart-delivery-address {
    color: $grey-secondary;
    padding: 15px;
    font-family: Montserrat-Regular;
    letter-spacing: -0.5px;
    position: relative;
    padding-right: 70px; // room for btn
    letter-spacing: -0.5px;

    span:not(:last-child) {
      margin-right: 3px;
    }

    .placeholder-title {
      text-transform: uppercase;
    }

    .button-clear {
      position: absolute;
      top: 5px;
      right: 0;
      text-transform: uppercase;
      font-size: 14px;
    }
  }

  .provider-profile-section {
    margin-bottom: 20px;

    .provider-profile--title-wrapper {
      padding: 15px;
      background-color: $white;
      letter-spacing: -0.5px;
      line-height: 20px;
    }

    .provider-profile--title {
      color: $base-yellow;
      text-transform: uppercase;
      font-size: 14px;
      font-family: Montserrat-Regular;
    }

    .provider-profile--subtitle {
      float: right;
      color: $positive;
      font-family: Montserrat-Regular;
      font-size: 13px;

      span:not(:last-child) {
        margin-right: 3px;
      }
    }
  }

  .provider-items-in-cart {
    border-top: 2px solid $light-grey;
    border-bottom: 2px solid $light-grey;

    .slick-container:not(:last-child) {
      // TODO fix border not reaching top
      border-right: 1px solid $light-grey;
    }
  }
}

.checkout-form {
  .delivery-time-wrapper {
    position: relative;

    .button {
      position: absolute;
      z-index: 2;
      right: 0;
      top: 7px;
      letter-spacing: -0.5px;
    }
  }

  label.select-list-label.item-input--no-borders {
    margin-bottom: 5px;
  }

  .select-list-item {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding: 15px 15px 10px 15px;
    font-family: Montserrat-Light;

    &.selected {
      color: $base-yellow;
      font-family: Montserrat-Regular;
      background-color: $light-grey;
    }

    &:not(:first-child) {
      border-top: 1px solid $card-border-color;
    }

    i {
      margin-right: 5px;
    }
  }
}

.checkout-modal-form {
  .addresses-wrapper {
    top: 44px;
    overflow: auto;
  }
}
