ion-view(
  view-title='{{::("courier.orders"|translate)}}'
)
  ion-nav-title
    .alt-logo
  ion-content.shipping-request-show-page.courier-shipping-request-common
    .map-view
      #order-map(data-tap-disabled="true")

    .list.list-inset.list--no-borders.resource-detail-summary
      h2 {{::("courier.order"|translate)}}{{ ::coVm.order.id }}

    .list.list-inset.list--no-borders.resource-details-table
      p.resource-detail-title {{::("dispatchers.dispatchersData"|translate)}}
      .row
        .col.col-50.label {{::("courier.ordersNumber"|translate)}}
        .col.col-50.value {{coVm.order.id}}
      .row
        .col.col-50.label {{::("provider.address"|translate)}}
        .col.col-50.value Calle sucre y mercadillo
      .row
        .col.col-50.label {{::("courier.dateDispatcher"|translate)}}
        .col.col-50.value 10:00 AM
      .row
        .col.col-50.label {{::("courier.nameDispatcher"|translate)}}
        .col.col-50.value Manuel López

    .row
      .list.list--centered
        button.button.button-outline.button-energized
          {{::("courier.orderDispatcher"|translate|uppercase)}}
