ion-view(
  view-title="{{ ::('menu.client.myOrders' | translate) }}"
)
  ion-nav-title
    .alt-logo
  ion-content
    .resource-collection(ng-repeat='providerProfile in ::customerOrderVm.customerOrder.provider_profiles track by $index')
      .list.list-inset.list--no-borders.resource-collection-table
        .row.table-headers
          .col.col-50 {{ providerProfile.nombre_establecimiento || providerProfile.razon_social }}
          .col.col-25 {{ ::("order.providerProfile.quantity" |translate) }}
          .col.col-25 {{ ::("order.providerProfile.price" |translate) }}
        div(ng-repeat='item in providerProfile.customer_order_items')
          .item.row
            .col.col-50 {{ ::item.provider_item.titulo}}
            .col.col-25 {{ ::('X' + item.cantidad) }}
            .col.col-25 {{ ::(item.provider_item_precio_cents | priceCurrency | currency) }}
          .item.row(ng-if="item.observaciones")
            .col.col-100.col--elastic {{ ::( ("order.providerProfile.item.observations" |translate) + item.observaciones) }}
    .resource-collection(ng-if="customerOrderVm.customerOrder.observaciones")
      .list.list-inset.list--no-borders.resource-collection-table
        .row.table-headers
          .col.col-100 {{ ::("order.observations"|translate) }}
        .row.item
          .col.col-100 {{ ::customerOrderVm.customerOrder.observaciones }}

